.env
build/
examples/images/
kiwiplot/__pycache__/
kiwiplot.egg-info/
kiwiplot/customViewBox_1.py
kiwiplot/customViewBox_2.py
.project
.pydevproject
examples/data_streaming/__pycache__/
docs/
prettyplot.egg-info/SOURCES.txt
prettyplot/__pycache__
dist/
kiwiplot_examples/data_streaming/__pycache__/
*.pyc
